:root {
  --primary-text-color: #212121;
  --secondary-text-color: #2f303a;
  --third-text-color: #757575;
  --fourth-text-color: #ffffff;
  --logo-color: #000000;
  --adress-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-background-color: #f5f4fa;
  --primary-font: 'Roboto', sans-serif;
  --primary-font-size: 14px;
}

.list {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  background-color: var(--fourth-text-color);
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--fourth-text-color);
}

.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:focus,
.footer-logo:focus {
  outline: none;
}

.link:hover,
.link:focus,
.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.header-item,
.header-mail,
.header-phone {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link,
.current {
  text-decoration: none;
  color: var(--primary-text-color);
}

.info-link {
  text-decoration: none;
  color: var(--third-text-color);
}

.hero {
  background-color: var(--secondary-text-color);
}

.hero-title {
  text-transform: uppercase;
  color: var(--fourth-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.order-button {
  font-family: inherit;
  font-size: 16px;
  background-color: var(--accent-color);
  color: var(--fourth-text-color);
  width: 216px;
  height: 50px;
  letter-spacing: 0.06em;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.order-button:hover,
.order-button:focus {
  background-color: #188ce8;
}

.about-title-hidden,
.portfolio-title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-header {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-p {
  color: var(--third-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--primary-background-color);
}

.team-member,
.member-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-description {
  background-color: var(--fourth-text-color);
}

.team-member {
  font-weight: 500;
}

.member-title {
  color: var(--third-text-color);
  font-weight: 400;
}

.footer {
  background-color: var(--secondary-text-color);
}

.adress-info {
  color: var(--fourth-text-color);
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus,
.adress-info:hover,
.adress-info:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* portfolio page styles */

.portfolio-button {
  font-family: inherit;
  background-color: var(--primary-background-color);
  border-radius: 5px;
  height: 38px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.all {
  width: 73px;
}

.sites {
  width: 125px;
}

.add {
  width: 112px;
}

.design {
  width: 103px;
}

.marketing {
  width: 130px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--fourth-text-color);
  cursor: pointer;
}

.portfolio-image {
  text-decoration: none;
}

.portfolio-header {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  color: var(--third-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
